{# basic bootstrap field scaffolding #}
{% macro bsSimple(input, label, id) %}
	<div class="mb-3">
		<label class="visually-hidden" for="{{ id }}">{{ label }}</label>
		{{ input }}
	</div>
{% endmacro %}

{# bootstrap field scaffolding with appended text #}
{% macro bsAppended(input, label, id, content) %}
	<div class="mb-3">
		<label class="visually-hidden" for="{{ id }}">{{ label }}</label>
		<div class="input-group">
			{{ input }}
			<span class="input-group-text">
				{{ content }}
			</span>
		</div>
	</div>
{% endmacro %}

{# bootstrap field scaffolding with prepended text #}
{% macro bsPrepended(input, label, id, content) %}
	<div class="mb-3">
		<label class="visually-hidden" for="{{ id }}">{{ label }}</label>
		<div class="input-group">
			<span class="input-group-text">
				{{ content }}
			</span>
			{{ input }}
		</div>
	</div>
{% endmacro %}
