{# basic bootstrap field scaffolding #}
{% macro bsSimple(input, label, id) %}

  <div class="form-group">
    <label class="sr-only" for="{{ id }}">{{ label }}</label>
    {{ input }}
  </div>

{% endmacro %}

{# bootstrap field scaffolding with appended text #}
{% macro bsAppended(input, label, id, content) %}

  <div class="form-group">
    <label class="sr-only" for="{{ id }}">{{ label }}</label>
    <div class="input-group">
      {{ input }}
      <div class="input-group-append">
        <span class="input-group-text">
          {{ content }}
        </span>
      </div>
    </div>
  </div>

{% endmacro %}

{# bootstrap field scaffolding with prepended text #}
{% macro bsPrepended(input, label, id, content) %}

  <div class="form-group">
    <label class="sr-only" for="{{ id }}">{{ label }}</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          {{ content }}
        </span>
      </div>
      {{ input }}
    </div>
  </div>

{% endmacro %}