{% extends "_base.twig" %}
{% import "modules/fields.twig" as fields %}
{% import "modules/icons.twig" as icons %}

{# define form fields #}

{# global field values #}
{% set fieldIdBase = "form--" %}
{% set fieldClasslist = "form-control form-control-lg" %}

{% set nameField %}
  <input
    type="text"
    name="{{ form.fields.full_name.name }}"
    id="{{ form.fields.full_name.required }}"
    required="{{ fieldIdBase ~ "name" }}"
    class="{{ fieldClasslist }}"
    placeholder="Your Name"
  >
{% endset %}

{% set phoneField %}
  <input
    type="tel"
    name="{{ form.fields.phone_number.name }}"
    required="{{ form.fields.phone_number.required }}"
    id="{{ fieldIdBase ~ "phone" }}"
    class="{{ fieldClasslist }}"
    placeholder="Phone Number"
  >
{% endset %}

{% set emailField %}
  <input
    type="email"
    name="{{ form.fields.email_address.name }}"
    required="{{ form.fields.email_address.required }}"
    id="{{ fieldIdBase ~ "email" }}"
    class="{{ fieldClasslist }}"
    placeholder="Email Address"
  >
{% endset %}

{% set messageField %}
  <textarea
    name="{{ form.fields.message.name }}"
    required="{{ form.fields.message.required }}"
    id="{{ fieldIdBase ~ "message" }}"
    class="{{ fieldClasslist }}"
    placeholder="How can we help?"
    rows="7"
  ></textarea>
{% endset %}

{# begin template #}

{% block header %}
  {% include "layout/header--simple.twig" %}
{% endblock %}

{% block main %}

  <main class="section">
    <div class="container">
      <div class="row">

        {# info #}
        <div class="col-lg pb-5">
          <div class="mt-4 h5 font-weight-normal">

            <div>
              <span class="d-block h4">Call:</span>
              <a href="{{ entity.phone | phone_link }}">{{ entity.phone | us_phone }}</a>
            </div>

            <div class="py-2"></div>

            <div>
              <span class="d-block h4">Email:</span>
              <a href="mailto:{{ entity.email }}">{{ entity.email }}</a>
            </div>

          </div>
        </div>

        {# form #}
        <div class="col-lg">
          <form id="contact-form" action="{{ form.action }}" method="{{ form.method }}">

            {{ form.process }}

            {# fields with appended icons #}
            {% set icons = ['user', 'mobile-alt', 'at', 'building', 'globe'] %}
            {% set styles = ['fas', 'fas', 'fas', 'fas', 'fas'] %}
            {% set fields = [nameField, phoneField, emailField] %}
            {% set labels = ['Name', 'Phone Number', 'Email Address'] %}
            {% set ids = prefix(fieldIdBase, 'name', 'phone', 'email') %}

            {% for field in fields %}

              {% set icon = icons[loop.index0] %}
              {% set style = styles[loop.index0] %}
              {% set label = labels[loop.index0] %}
              {% set id = ids[loop.index0] %}

              {{ fields.bsAppended(field, label, id, icons.fa(icon, style)) }}

            {% endfor %}

            {# message field #}
            {{ fields.bsSimple(messageField, 'Message', fieldIdBase ~ 'message') }}

            <button class="btn btn-primary" type="submit">Send Message</button>

          </form>
        </div>

      </div>
    </div>
  </main>

{% endblock %}
