{% import "modules/icons" as icons %}
{% set expanded = 'lg' %}

<footer id="footer" class="footer text-white-70 bg-secondary pt-5">
  {# main #}
  <section id="footer-body" class="pb-{{expanded}}-5">
    <div class="container">
      <div class="row">
        {# company #}
        <section class="col-{{ expanded }} pt-4 pt-{{ expanded }}-0 text-center text-{{expanded}}-left">
          <div>
            {{ site.title }}
            <br>
            {{ entity.owner }}
          </div>
          <div class="mt-2">

            {% if entity.phone is not empty %}
              <a href="{{ entity.phone|phone_link }}">{{ entity.phone|phone_us('classic') }}</a>
            {% endif %}

            <br>
            <a href="mailto:{{ entity.email }}">{{ entity.email }}</a>
          </div>
        </section>

        {# links #}
        <section class="col-{{ expanded }} pt-4 pt-{{ expanded }}-0 text-center">
          {% for slug, link in footer.links %}
            <a href="{{ slug|url }}" class="d-block">{{ link }}</a>
          {% endfor %}
        </section>

        {# social media #}
        <section class="col-{{ expanded }} text-center pt-4 pt-{{ expanded }}-0">
          <div class="sm-icons text-white-70">
            {% for platform, data in footer.social_media %}
              <a href="{{ data.url }}" title="{{ data.name }}" class="text-decoration-none mx-1">
                {{ icons.fab(data.icon) }}
              </a>
            {% endfor %}
          </div>
        </section>
      </div>
    </div>
  </section>

  {# copyright #}
  <section id="footer-footer" class="text-left mt-3 py-2">
    <div class="container text-center text-lg-left">
      <small class="h6 d-block mx-auto font-weight-normal opacity-100">
        <span class="d-block d-md-inline">
          &copy; {{ 'now'|date('Y') }} {{ entity.full_title }}
        </span>
        <span class="d-none d-md-inline">{{ separate(2) }}</span>
        <span class="d-block d-md-inline pt-2 pt-md-0">
          <a href="{{ developer.link }}">Design by {{ developer.name }}</a>
        </span>
      </small>
    </div>
  </section>
</footer>
